# --- Flutter / Dart ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
*.iml
*.ipr
*.iws
.idea/

# --- Android / Gradle ---
android/.gradle
android/app/build/
android/local.properties
android/*.iml
android/.project
android/.settings
android/.classpath
*.apk
*.ap_
*.dex
*.keystore
*.jks

# --- iOS / macOS ---
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods
ios/Runner/GeneratedPluginRegistrant.*
macos/Pods
macos/Runner/GeneratedPluginRegistrant.*
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa

linux/flutter/
windows/flutter/
#web/


rust/target/
**/*.rs.bk
*.pdb
*.so
*.dylib
*.dll

# --- Secrets & Local ---
*.env
*.secret
*.key
*.jks
local.properties

keystore.jks
android/key.properties
keystore_base64.txt
platform-tools-latest-linux.zip
*.zip
platform-tools/
macos/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.swift
node_modules

# Generated Android icons (resized by script)
android/app/src/main/res/mipmap-*/
android/app/src/main/res/drawable/*_foreground.png
android/app/src/main/res/drawable-v21/*_foreground.png
node_modules/
.wrangler/
test-results/
*.log
cat
package-lock.json

my-release-key.keystore
new_keystore_base64.txt

new_keystore_base64.txt
plugins/**/example/
plugins/**/test/
plugins/**/doc/
plugins/**/*.md
plugins/**/ios/
plugins/**/android/src/test/
plugins/**/android/src/main/res/mipmap-*
android/app/src/main/res/mipmap-*/

 android/app/google-services.json
